/*
 * Globals
 */
 .alert{
  border: 0px;
  background-color: #d6d6d6;
 }
/*Table paination styling*/
.paging-nav {
  text-align: right;
  padding-top: 2px;
  font-size: 20px;
  padding-bottom: 10px;
  
}

.paging-nav a {
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 1px 7px;
  background: #3287a8;
  color: white;
  border-radius: 100px;
}

.paging-nav .selected-page {
  font-weight: bold;
  color: #dc3545;
}
/* End Table paination styling*/
/* Links */
a{
  color: #ffffff;
}
a:focus{
  color: #ddd;
}
a:hover {
  color: #b7b7b7;

}
/* Custom default button */
.btn-login,
.btn-login:hover,
.btn-login:focus {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-color: #ffffff; 
  color: rgb(0, 0, 0); 
  padding: 10px 20px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer;
 
}
/* Custom default button */
.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  color: #ffffff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #000000;
  border: .05rem solid #000000;
  padding: 10px;
}
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #ffffff;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #2b2b2b;
  border: .05rem solid #2b2b2b;
  padding: 10px;
}
.mybutton{
  width: 100%;
}
.success{
  font-family: 'Quicksand', sans-serif;
  list-style: none;
  background-color: #212121;
  color: rgb(255, 255, 255);
  border: 10px solid #212121;
  border-bottom-right-radius: 20px;
	padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  vertical-align: center;
  text-align: center;

}/*
 * Base structure for home
 */
 
html,
body {
  margin: auto;
  background-image: url('/static/img/bg.jpg'); /* Replace with the actual path to your background image */
  background-repeat: no-repeat;
  background-size: cover; /* Adjust as needed */
  background-attachment: fixed; /* Optional: To keep the background fixed */
}
.boxed{
  border: 10px  rgba(241, 241, 241, 0.8);
  background-color: rgba(241, 241, 241, 0.7);
	padding-bottom: 20px;
  padding-right: 30px;
  vertical-align: center;
}
.home_boxed{
  border: 10px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.8);
	padding-bottom: 20px;
  padding-right: 30px;
  vertical-align: center;
}
.cover-container {
  
  color: white;
}

.cover-container h2 {
  
  color:#000000;
}

.cover-container p {
  
  color:#000000;
}
label[for="url-input"] {
  color: #f7f7f7;
  text-align: center;
  padding: 10px 20px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
  
}

input[type="submit"] {
  background-color: #282828; 
  color: white; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
}
.table th{
  background-color: #ededed;
}
.table tr{
  background-color: #d6d6d6;
}
.table tr:nth-child(odd){
	background: #e3e3e3;

}

.table tr:nth-child(even){
	background: #bdbdbd;

}
.table{
  text-align: center;
  background-color: #eaeaea;
  align-items: center;
	
  float: right;
	padding-bottom: 20px;
  padding-right: 30px;
  vertical-align: center;
}


/* Apply different styles on hover */
input[type="submit"]:hover {
  background-color: #060606; 
}

@font-face {
  font-family: 'Optima';
  src: url('path-to-font/Optima.woff') format('woff');
  /* Add additional font formats for cross-browser compatibility if needed */
}

 body {
   font-family: 'Optima', sans-serif;
   display: -ms-flexbox;
   display: flex;
   color: #000000;
   text-shadow: 0 .05rem .1rem rgba(0, 0, 0, 0);
   box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0);
   display: flex;
   align-items: center;
   justify-content: center;
 }


 .header {
  color: #ffffff;
  font-size: 50px;

  border: 10px solid rgba(18, 18, 18, 0.1);
  background-color: rgba(19, 19, 19, 0.7);
  
}
/*
 * Header
 */
.masthead {
  
  margin-bottom: 4rem;
  background-color: rgb(0, 0, 0);
}

.masthead-brand {
  margin-bottom: 1;
  margin-left: 2rem;
  margin-top: .5rem;
  
}

.nav-masthead .nav-link {
  
  font-weight: 700;
  color: rgba(251, 251, 251, 0.832);
  background-color: transparent;
  border-bottom: 1rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  color: #ffffff;
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff7f7;
  border-bottom-color: #fff;
}

@media (min-width: 4rem) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}



/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgb(50, 50, 50);
 
}
