@mixin transition($property, $duration, $timing) {
    -webkit-transition: $property $duration $timing;
    -moz-transition: $property $duration $timing;
    -o-transition: $property $duration $timing;
    transition: $property $duration $timing;
}
.element-to-transition {
    width: 100px;
    height: 100px;
    background-color: #3498db;

    @include transition(all, 0.3s, ease);

    &:hover {
        width: 150px;
        height: 150px;
    }
}
